
  <h1>User Settings</h1>
  <%= form_for 'user_settings', remote: true,   url: { controller: 'user_session', action: 'change_user_settings' } do |f| %>
      <%= f.label :user_settings_weight %><br>
      <%= f.text_field :user_settings_weight, :placeholder => 'weight', :value => @user_session.get_user_settings[:weight]  %>
      <%= f.label :user_settings_age %><br>
      <%= f.text_field :user_settings_age, :placeholder => 'age', :value => @user_session.get_user_settings[:age]  %>
      <%= f.label :user_settings_height %><br>
      <%= f.text_field :user_settings_height, :placeholder => 'height', :value => @user_session.get_user_settings[:height] %>
      <%= f.submit "save changes" %>
  <% end %>
  <h1> Select Language </h1>


  <%= button_to "french", change_lang_path(:locale => "fr",:query => params[:query]) %>
  <%= button_to "spanish", change_lang_path(:locale => "es",:query => params[:query]) %>
  <%= button_to "german", change_lang_path(:locale => "de",:query => params[:query]) %>
  <%= button_to "chinese", change_lang_path(:locale => "ch",:query => params[:query]) %>
  <%= button_to "hindu", change_lang_path(:locale => "hi",:query => params[:query]) %>
  <%= button_to "russian", change_lang_path(:locale => "ru",:query => params[:query]) %>

