<h1>Listing line_charts</h1>

<svg width="<%= @window_width %>" height="<%= @window_height %>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">



  <!-- graph -->
  <% for i in 0..1%> <!-- later: foreach of the value hashes -->
      <% if i == 0 %>
          <% @values.each_with_index do |(name, value), index|%>
           <!-- <line x1="<%=@x1[index] %>" y1="<%= @y1[index] %>" x2="<%= @x2[index] %>" y2="<%= @y2[index] %>" stroke-linecap="round" stroke-width="4" style="stroke: #00BD97 ;"/>  -->
            <path id="line1" d="M <%=@x1[index] %> <%= @y1[index] %> L <%= @x2[index] %> <%= @y2[index] %>" stroke-linecap="round" stroke="#00BD97" stroke-width="3" fill="none" />
            <text x="<%=@x1[index] %>" y="<%= @y1[index] %>"><%= name %></text>
          <%end%>
      <%else%>
          <% @values2.each_with_index do |(name, value), index|%>
              <path id="line2" d="M <%=@x_1[index] %> <%= @y_1[index] %> L <%= @x_2[index] %> <%= @y_2[index] %>" stroke-linecap="round" stroke="#66A4D1" stroke-width="3" fill="none" />
            <text x="<%=@x_1[index] %>" y="<%= @y_1[index] %>"><%= name %></text>
          <%end%>
      <%end%>
  <% end %>
</svg>
