<h1>Listing line_charts</h1>

<svg width="<%= @window_width %>" height="<%= @window_height %>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">

  <!-- x-axis -->
  <line x1="0" y1="500" x2="9000" y2="500" style="stroke: black;"/>

  <!-- y-axis -->
  <line x1="0" y1="1" x2="0" y2="500" style="stroke: black;"/>

  <!-- graph -->
  <% @values.each do |(name, value), index|%>
      <line x1="<%=@start_x[0] %>" y1="<%= @start_y[0] %>" x2="<%= @draw_x[index] %>" y2="<%= @draw_y[index] %>" style="stroke: black;"/>
      <p> <%= puts @start_x[index]%></p>
      <p> <%= puts @start_y[index]%></p>
      <p> <%= puts @draw_x[index]%></p>
      <p> <%= puts @draw_x[index]%></p>
  <% end %>
 </svg>

