<h1>Listing line_charts</h1>

<svg width="100%"  viewBox="<%= "0 0 #{@chart[:dimensions][:width]} #{@chart[:dimensions][:height] + 50}" %> " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  <% @chart[:paths].each do |item| %> <!-- later: foreach of the value hashes -->
      <path id="line1" d="<%= item %>" stroke-linecap="round" stroke="#00BD97" stroke-width="4" fill="rgba(0, 189, 151, 0.2)">
      <animate xlink:href="#line1"
               attributeName="d"
               attributeType="XML"
               from="<%= item * 100 %>"
               to="<%= 1000 %>"
               dur="2s"
               fill="freeze" />
      </path>

<% end %>
  <% @chart[:labels].each_with_index do |label, idx| %>
      <text x="<%= @chart[:label_space] * idx %>" y="<%= @chart[:dimensions][:height] + 20%>" transform="rotate(45, <%= "#{@chart[:label_space] * idx}, #{@chart[:dimensions][:height] + 20}" %>)">
        <%= label%>
      </text>
  <% end %>
  <path fill="none" stroke="deeppink" stroke-width="14" stroke-miterlimit="0"
        d="M11.6 269s-19.7-42.4 6.06-68.2 48.5-6.06 59.1 12.1l-3.03 28.8 209-227s45.5-21.2 60.6 1.52c15.2 22.7-3.03 47-3.03 47l-225 229s33.1-12 48.5 7.58c50 63.6-50 97-62.1 37.9"
  />
</svg>

