<%
   # university:  University of Applied Sciences Salzburg
   # studie:      MultiMediaTechnology
   # usage:	    Multimediaprojekt 2a (MMP2a)
   # author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
   #              - Franziska Oberhauser
%>

<div>
  Search Result for: <%= params[:query] %>
</div>

<% if @food_items.length > 0 %>
    <ul>
      <% @food_items.each_with_index do |result, i| %>
          <li>
            <h1 class="name"><%= result[:name]%></h1>
            <% unless @name_translation.nil? %>
                <h2 class="name"><%= @name_translation[i]%></h2>
            <%end %>
            <ul>
            <% result[:nutritions].each do |key, nutrition| %>
                  <li class="<%= key %>"> <%= " #{key} - #{nutrition}"  %></li>
            <% end %>
            </ul>
          </li>
          <li>
              <%= link_to "go to element", get_food_item_path(result['_id']) %>
              <%= link_to "add element to basket", add_item_to_basket_path(result['_id']), :remote => true%>
          </li>
      <% end %>
    </ul>
<% else %>
    <div>
      no results found
    </div>
<% end %>
