<div>
  Search Result for: <%= params[:query] %>
</div>

<% if @food_items.length > 0 %>
    <ul>
      <% @food_items.each do |result| %>
          <li>
            <h1 class="name"><%= result[:name]%></h1>
            <% result[:nutritions].each do |key, nutrition| %>
                <ul>
                  <li class="<%= key %>"> <%= "[key] #{key} - [value] #{nutrition}"  %></li>
                </ul>
            <% end %>
          </li>
          <li>
            <%= link_to "go to element", get_food_item_path(result['_id'])%>
            <%= link_to "add element to basket", add_item_to_basket_path(result['_id']), :remote => true%>
          </li>
      <% end %>
    </ul>
<% else %>
    <div>
      no results found
    </div>
<% end %>
