<% if @results.length > 0 %>
    <ul>
      <% @results.each do |result| %>

        <li>
          <h1 class="name"><%= result['name']%></h1>
          <% result['nutritions'].each do |key, nutrition| %>
            <ul>
              <li class="<%= key %>"> <%= "[key] #{key} - [value] #{nutrition}"  %></li>
            </ul>
          <% end %>
        </li>
        <li>
          <%= link_to "go to element", :controller => :food_overviews, :action => :show, :api_id => result['api_key'], :food_id => result['item_id']%>

          <%= link_to "add element to basket", :remote => true, :controller => :food_overviews, :action => :add_item_to_basket, :api_id => result['api_key'], :food_id => result['item_id']%>
        </li>
      <% end %>
    </ul>

    <div class="basket">
      <%= session[:item_basket].inspect %>
    </div>
<% else %>
    <div>
      no results found
    </div>
<% end %>
