<%
   # university:  University of Applied Sciences Salzburg
   # studie:      MultiMediaTechnology
   # usage:	    Multimediaprojekt 2a (MMP2a)
   # author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
   #              - Franziska Oberhauser
%>


<div class="fixed">
  <div class="container">
    <h1>
      <%= @basic_page.title %>
      <% if logged_in? %>
          <%= link_to '[Edit]', edit_basic_page_path(@basic_page) %>
      <% end %>
    </h1>
  </div>
  <div class="blue-bg">
    <div class="container">
      <%= markdown(@basic_page.body) %>
    </div>
  </div>
  <div class="container">
    <h2>our awesome team</h2>
    <ul id="home-user-menu" class="menu">
      <li>
        <a href="#">
          <%= image_tag 'team/gudrun.jpg' %>
          <h3>Gudrun Öhlinger</h3>

          <p>
            MMA
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag 'team/nora.jpg' %>
          <h3>Nora Sieß</h3>

          <p>
            MMA
          </p>
        </a>

      </li>
      <li>
        <a href="#">
          <%= image_tag 'team/marie.jpg' %>
          <h3>Marie-Therese Schweitl</h3>

          <p>
            MMA
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag 'team/franzi.jpg' %>
          <h3>Franziska Oberhauser</h3>

          <p>
            MMT(Backend Development, Frontend Development, Translations)
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag 'team/thomas.jpg' %>
          <h3>Thomas Mayrhofer</h3>

          <p>
            MMT (Backend Development, Frontend Development, Food APIs)
          </p>
        </a>
      </li>
    </ul>

  </div>

</div>
