<main id="home-search-wrp" data-stellar-background-ratio="0.5">
  <div class="display-table">
    <div class="display-table-cell">
      <header  class="container row">
        <h1 class="center">
          <%= image_tag 'logo_white.svg', :width => 500 %>
        </h1>
      </header>
      <%= form_for('/search/results/', :url => url_for(:controller => 'food_item', :action => 'redirect_to_index'),  method: "get") do %>
          <!--<form id="search" class="container row">-->
        <div class="search_bar">
          <div class="col span_7">
            <%= text_field_tag :query%>
          </div>
          <div class="col span_2">
            <%= submit_tag("Search") %>
          </div>
          <div class="col span_3">
            <%= select_tag :locale, options_for_select(['fr', 'es', 'de', 'zh-CHT', 'hi', 'ru', 'ar' ]) %>
          </div>
        </div>
      <% end %>
      <footer class="container row">
        <div class="icon-home">
          Search your favorite food
        </div>
        <div class="icon-glasses">
          see all ingredients
        </div>
        <div class="icon-pie">
          compare it with related food items
        </div>
      </footer>
    </div>
  </div>
  <div class="about-arrow-wrp">
    <div class="about-arrow-content">
      For more information scroll down
    </div>
  </div>
</main>
<div id="home-info-wrp" data-stellar-background-ratio="0">
  <div class="container fixed">
    <%= yield %>
  </div>
</div>






