<%
   # university:  University of Applied Sciences Salzburg
   # studie:      MultiMediaTechnology
   # usage:	    Multimediaprojekt 2a (MMP2a)
   # author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
   #              - Franziska Oberhauser
%>

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html>
<head>
  <title>Food Mesh</title>
  <meta charset="utf-8"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'main', media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_page? '/' %>
    <%= render 'layouts/home' %>
<% else %>
    <%= render 'layouts/page' %>
<% end %>
<%= javascript_include_tag "application" %>

</body>
</html>
